/*
font-family: 'Lato', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
*/
body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}
main {
    min-height: 100vh;
}
.card {
    border: 2px dotted #32fbe2;
    border-radius: 10px;
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}